.slide {width: 14%;}

.productitem { margin-right: 10px; border-radius: 5px 5px 0px 0px;}

.info {box-shadow: 0px 0px 6px rgba(247, 247, 247, 0.174) !important; border-radius: 0px 0px 5px 5px !important;}